__pycache__/
**/__pycache__/
venv/
.idea/
reading/
**/.scrapy/
requests_JS/

# 这种写法是正确的。
**/*.png

data/163music.json
**.json
**/spider_name_01/

# 这个还是不能加进去。毕竟是私人文件太多了。
utils/

data/

**/*.log
.gitignore
ZZZ.py
utils/secret.txt
